/* 
*
*  START TO COPY HERE MY COMPONENT // DONT FORGET CHANGE COLOR FOR YOUR PROJECT !
*
*/

/*Container */
#accordion-container {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: auto;
    background-color: var(--ui-background);
    border-radius: 25px;
    padding-bottom: 40px;
    box-shadow: 0px 0px 15px 6px var(--shadow-color);
}

/*Btn*/
.btn {
    all: unset;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: var(--title-color);
    margin-left: 100px;
    align-self: flex-start;
    position: relative;      /* pour icônes absolues */
    padding-left: 30px;      /* espace pour icônes */
}

.btn p {
    margin: 0;
}

/*Icon + icon transition*/
svg {
    display: inline-block;

}

.btn .iconplus,
.btn .iconminus {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.2s ease;
}


.btn .iconplus { opacity: 1; }
.btn .iconminus { opacity: 0; }


.btn.open .iconplus { opacity: 0; }
.btn.open .iconminus { opacity: 1; }


/*Content-accordion*/
.accordion-content {
    margin-left: 140px;
    max-width: 80%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}

.accordion-content.active {
    max-height: 500px; 
}

.accordion-content p {
    margin-top: 5px;
    color: var(--text-color);
}

/*Title H2*/
h2 {
    font-size: 36px;
    color: var(--title-color);
    align-self: center;
}

/*
*
* STOP TO COPY HERE MY COMPONENT 
*
*/

