:root{
    --background: #ffff;
    --ui-background: #EBE4FF;
    --title-color: #2F265F;
    --text-color: #6550B9;
    --darkmod-background: #14121F;
    --shadow-color: rgba(0,0,0,0.25);
}

.darkmode {
    --background: #14121F;
    --ui-background: #291F43;
    --title-color: #E2DDFE;
    --text-color: #BAA7FF;
    --darkmod-background: #ffff;
    --shadow-color: rgba(208, 126, 247, 0.25);
}
/*Global*/
body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

/*Color*/


/*Fonts */
@font-face {
    font-family: "popins-semi";
    src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "popins-bold";
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "inter-regular";
    src: url(../fonts/Inter_18pt-Regular.ttf);
}

/* 
*
*  START TO COPY HERE MY COMPONENT
*
*/

/*Container */
#accordion-container {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: auto;
    background-color: var(--ui-background);
    border-radius: 25px;
    padding-bottom: 40px;
    box-shadow: 0px 0px 15px 6px var(--shadow-color);
}

/*Btn*/
.btn {
    all: unset;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: var(--title-color);
    margin-left: 100px;
    align-self: flex-start;
    font-size: 24px;
    font-family: 'popins-semi','Courier New', Courier, monospace;
    position: relative;      /* pour icônes absolues */
    padding-left: 30px;      /* espace pour icônes */
}

.btn p {
    margin: 0;
}

/*Icon + icon transition*/
.iconplustest{
  width: 80px;
  height: 80px;
  background: url("../img/plus.svg") no-repeat center;
  background-size: contain;
  fill: var(--title-color);
}
svg {
    display: inline-block;

}
.btn .iconplus,
.btn .iconminus {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.2s ease;
}


.btn .iconplus { opacity: 1; }
.btn .iconminus { opacity: 0; }


.btn.open .iconplus { opacity: 0; }
.btn.open .iconminus { opacity: 1; }


/*Content-accordion*/
.accordion-content {
    font-size: 20px;
    font-family: 'inter-regular','Courier New', Courier, monospace;
    margin-left: 140px;
    max-width: 80%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}

.accordion-content.active {
    max-height: 500px; 
}

.accordion-content p {
    margin-top: 5px;
    color: var(--text-color);
}

/*Title H2*/
h2 {
    font-size: 36px;
    color: var(--title-color);
    font-family: 'popins-bold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-self: center;
}

/*
*
* STOP TO COPY HERE MY COMPONENT 
*
*/

/* Darkmode */ 

header{
    display: flex;
    justify-content: space-between;
    height: 60px; /* ou ce que tu veux */
    color: white;


}
#mode-switch {
    margin: 10px;
    border-radius: 50px;
    background-color: var(--darkmod-background);
    margin-left: auto;
    position: relative;

}

.circle {
  position: absolute;
  top: 2px;
  left: 4px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--background);  /*Color for cirle*/ 
  z-index: 2; /* circle on svg*/
  transition: left 0.3s ease, background-color 0.3s ease
}


body.darkmode .circle {
  left: 32px; /* slide in left*/
}

.iconMoon{
    color: white;
}
